.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;

    &__data {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        // &::before{
        //     content: '';
        //     position: absolute;
        //     background: rgba(245, 245, 250, 0.2);
        // }
    }

    &__phone{
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: white;
    }

    &__logo-box {
        display: flex;
        align-items: flex-start;
    }

    &__logo {
        text-decoration: none;
    }

    &__breadcrumbs {
        font-size: 20px;
        line-height: 24px;
        color: #323264;
        display: inline-flex;
        align-items: center;

        &::before {
            content: '';
            background-image: url('../img/slash.svg');
            width: 12px;
            height: 26px;
        }
    }
}

.header__breadcrumbs,
.header__breadcrumbs::before,
.header__adress,
.header__fb {
    display: none;
}

@media (min-width: 678px) {

    .header {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;

        &__data {
            grid-column: 1;
            justify-content: flex-start;
            align-items: center;
            padding-top: 50px;
        }

        &__logo{
            margin-top: 19px;
            & img {
            width: 130px;
            height: 60px;
            }
        }

        &__breadcrumbs::before {
            width: 21px;
            height: 47px;
            background-size: cover;
        }

        &__adress {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: white;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-right: 6px;
            }

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__phone{
            margin-left: 6px;
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__fb {
            display: block;
            margin-left: 6px;

            &:hover svg path{
                fill: $accent;
            }
        }
    }
}

@media (min-width: 934px) {
    .header {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: min-content 1fr;

        &__data {
            grid-column: 2;
            justify-content: flex-end;
            padding-bottom: 0;
        }

        &__logo-box {
            grid-row: 1 / -1;
            align-items: center;
        }

        &__logo{
            margin-top: 50px;
        }
    }
}

