.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;

    &__data {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        // &::before{
        //     content: '';
        //     position: absolute;
        //     background: rgba(245, 245, 250, 0.2);
        // }
    }

    &__phone{
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: white;
    }

    &__logo-box {
        display: flex;
        align-items: flex-start;
    }

    &__logo {
        text-decoration: none;
    }

    &__breadcrumbs {
        font-size: 20px;
        line-height: 24px;
        color: #323264;
        display: inline-flex;
        align-items: center;

        &::before {
            content: '';
            background-image: url('../img/slash.svg');
            width: 12px;
            height: 26px;
        }
    }
}

.lang {
    list-style: none;
    padding-left: 0;
    display: flex;

}

.lang a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 7px;
    text-align: center;
    letter-spacing: 1px;
    color: #B3B3BA;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    display: block;
}

.lang a.active {
    color: #ffffff;
    background: $accent;
}

.lang a:not(.active):hover {
    background: rgba(255, 255, 255, 0.2);;
}

.menu__btn {
    cursor: pointer;
    background-image: url('../img/burger.svg');
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    margin-top: 13px;
}

.menu__btn:hover{
    // background: $separator;
}

.menu__list{
    display: none;
    position: absolute;
    list-style: none;
    right: 0;
    left: 0;
    text-align: center;
    padding: 0;
    background: white;
    padding: 12px;
}

.menu__list a{
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $active-regular;
    background: $bg;
    display: block;
    padding: 7px 0;
    margin-bottom: 15px;
    border-radius: 12px;
}

// .menu__list a.active {
//     color: $accent;
// }

// .menu__list a:not(.active):hover {
//     background: $separator;
// }

.menu__list a:hover {
    background: $separator;
}

.header__breadcrumbs,
.header__breadcrumbs::before,
.header__adress,
.header__fb {
    display: none;
}

@media (min-width: 678px) {

    .header {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;

        &__data {
            grid-column: 1;
            justify-content: flex-start;
            align-items: center;
            padding-top: 50px;
        }

        &__logo{
            margin-top: 19px;
            & img {
            width: 130px;
            height: 60px;
            }
        }

        &__breadcrumbs::before {
            width: 21px;
            height: 47px;
            background-size: cover;
        }

        &__adress {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: white;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-right: 6px;
            }

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__phone{
            margin-left: 6px;
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__fb {
            display: block;
            margin-left: 6px;

            &:hover svg path{
                fill: $accent;
            }
        }
    }

    .lang{
        padding-right: 6px;
    }

    .menu{

    }

    .menu__btn {
        display: none;
    }
    .menu__list {
        display: flex;
        padding-left: 0;
        list-style: none;
        position: static;
        background: none;
        padding: 27px 0 0;
    }
    .menu__list li {
        padding-right: 15px;
    }

    .menu__list a{
        font-size: 16px;
        line-height: 20px;
        color: white;
        background: none;
        border-radius: 0;
        margin: 0;
        padding:  0;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }

    .menu__list a:hover{
        background: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
}

@media (min-width: 934px) {
    .header {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: min-content 1fr;

        &__data {
            grid-column: 2;
            justify-content: flex-end;
            padding-bottom: 0;
        }

        &__logo-box {
            grid-row: 1 / -1;
            align-items: center;
        }

        &__logo{
            margin-top: 50px;
        }
    }

    .menu {
        justify-self: end;
    }

    .menu__list{
        padding-top: 10px;
    }

    .menu__list li {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 1350px) {

}

