.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;

    &__data {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__phone{
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: white;
    }

    &__phone_about{
        color: $text;
    }

    &__logo-box {
        display: flex;
        align-items: center;
    }

    &__logo-box_about{
        padding-top: 15px;
    }

    &__logo {
        text-decoration: none;
    }

    &__breadcrumbs {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $main-regular;
        display: inline-flex;
        align-items: center;
        // margin-left: 4px;

        &::before {
            content: '';
            background-image: url('../img/slash.svg');
            background-repeat: no-repeat;
            background-position:  center center;
            width: 12px;
            height: 26px;
            padding-right: 5px;
            padding-left: 4px;
        }
    }

    &__breadcrumbs_about{
        padding-bottom: 12px;
    }
}

.header__adress,
.header__fb {
    display: none;
}

@media (min-width: 678px) {

    .header {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;

        &__data {
            grid-column: 1;
            justify-content: flex-start;
            align-items: center;
            padding-top: 50px;
        }

        &__logo-box_about{
            padding-top: 0;
        }

        &__logo{
            margin-top: 19px;
            & img {
            width: 130px;
            height: 60px;
            }
        }

        &__breadcrumbs{
            font-size: 36px;
            line-height: 44px;

            &::before {
            width: 21px;
            height: 47px;
            background-size: cover;
            }
        }

        &__adress {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: white;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-right: 6px;
            }

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__adress_about{
            color: $text;
        }

        &__phone{
            margin-left: 6px;
            display: inline-flex;
            align-items: center;

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $separator;
                border-radius: 50%;
                margin-left: 6px;
            }
        }

        &__fb {
            display: block;
            margin-left: 6px;

            & svg path {
                transition-duration: 300ms;
                transition-property: fill;
            }

            &:hover svg path{
                fill: $accent;
            }
        }
    }
}

@media (min-width: 934px) {

    .header {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: auto 1fr;

        &__data {
            grid-column: 2;
            justify-content: flex-end;
            padding-bottom: 0;
        }

        &__logo-box {
            grid-row: 1 / -1;
            align-items: center;
        }

        &__logo{
            margin-top: 50px;
        }

        &__breadcrumbs_about{
            padding-bottom: 0;
            padding-top: 27px;
        }
    }
}
