.lang{
    list-style: none;
    padding-left: 0;
    display: flex;

    & a {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 7px;
        text-align: center;
        letter-spacing: 1px;
        color: #B3B3BA;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 8px;
        display: block;
        transition-duration: 2000ms;
        transition-property: background;

        &.active {
            color: white;
            background: $accent;
        }

        &:not(.active):hover {
            background: rgba(255, 255, 255, 0.2);;
        }
    }

    &_white a{
        color: white;
    }
}

@media (min-width: 678px) {
    .lang{
        padding-right: 6px;
    }
}
